<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Server.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Test.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Server.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Test.Server.ServerSettings>
            <setting name="IPAddress" serializeAs="String">
                <value>10.105.27.118</value>
            </setting>
            <setting name="ForClientsPorts" serializeAs="String">
                <value>8898,8887,8080,8767,8654,8476</value>
            </setting>
            <setting name="LoadBalancerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LoadBalancerPort" serializeAs="String">
                <value>8001</value>
            </setting>
            <setting name="LoadUpdateTime" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="SynchDeadClients" serializeAs="String">
                <value>29000</value>
            </setting>
            <setting name="ForServersPorts" serializeAs="String">
                <value>8778,8988</value>
            </setting>
            <setting name="SlidingWindowSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FailCountForDisconnect" serializeAs="String">
                <value>10</value>
            </setting>
        </Test.Server.ServerSettings>
        <Test.ServerSettings>
            <setting name="IPAddress" serializeAs="String">
                <value>10.105.27.118</value>
            </setting>
            <setting name="ForClientsPorts" serializeAs="String">
                <value>8898,8887,8080,8767,8654,8476</value>
            </setting>
            <setting name="LoadBalancerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LoadBalancerPort" serializeAs="String">
                <value>8001</value>
            </setting>
            <setting name="LoadUpdateTime" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="SynchDeadClients" serializeAs="String">
                <value>29000</value>
            </setting>
            <setting name="ForServersPorts" serializeAs="String">
                <value>8778,8988</value>
            </setting>
        </Test.ServerSettings>
    </applicationSettings>
    <userSettings>
        <Test.Server.ServerSettings>
            <setting name="SessionTimeOutSeconds" serializeAs="String">
                <value>-90</value>
            </setting>
        </Test.Server.ServerSettings>
    </userSettings>
</configuration>